{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Home</title>

</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="{% url 'facts' %}" src="" alt=  "">FACTS</a>
            <a href="{% url 'students' %}" src="" alt=  "">STUDENT PORTAL</a>
            <a href="{% url 'dogs' %}" src="" alt=  "">DOGS</a>
        </div><br><br>

        <div class="card">
            <h3>WELCOME TO THIS AMAZING PAGE</h3>
            <p>This is a page where you can find fun facts, random dogs images and students.</p>
            <p>To navigate to the the pages you need to click on the navigation bar.</p>
        </div>
    </div>
</body>
</html>

